<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= items.length > 0 ? items[0].title : 'Item Display' %></title>
    <link rel="stylesheet" href="/stylesheets/item.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&display=swap" rel="stylesheet">
    <link rel="icon" href="images/billa.png" type="image/png">
</head>

<body>
    <div class="upar">
        <a href="/">
            <img src="/images/FoundIt! logo.png" alt="Logo">
        </a>
    </div>

    <div class="content">
        <% items.forEach(function(item){ %>
        <div class="item-display">
            <div class="header">
                <img src="<%= item.user.image %>" alt="User Profile Pic" class="profile-pic">
                <span class="posted-by">Posted by <strong id="poster-name"><%= item.user.firstName %></strong></span>
                <span class="posted-on">Posted on <span id="posted-date"><%= new Date(item.uploadDate).toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric' }) %></span></span>
            </div>


            <div>
            <div class="images">
                <% item.images.forEach(function(image) { %>
                <img src="/images/itemimage/<%=image.filename%>" alt="Item Image" class="item-image">
                <% }) %>
            </div>
            <div class="image-controls">
                <button class="left-button">
                    <i class='bx bx-chevron-left'></i>
                </button>
                <button class="right-button">
                    <i class='bx bx-chevron-right'></i>
                </button>
            </div>
            </div>

            <div class="popup-images">
                <button id="exit-button">
                    <i class="bx bx-x-circle"></i>
                </button>
                <img src="" alt="Popup Image" class="popup-image">
            </div>

            <div class="main-content">
                <div class="left-side">
                    <div class="section title">
                        <h2>
                            <id="title"><%= item.title%>
                        </h2>
                        </h2>
                    </div>
                    <div class="section item-type">
                        <h2>Type of Item</h2>
                        <p id="item-type"><%= item.itemType%></p>
                    </div>
                    <div class="section location">
                        <h2>FoundIt!</h2>
                        <p id="item-location">
                            <% if (item.haal === 'lost') { %>
                                Lost at: 
                            <% } else if (item.haal === 'found') { %>
                                Found at: 
                            <% } %>
                            <span id="location"><%= item.building %> </span> <span id="area"><%= item.specificArea %></span></p>
                    </div>
                </div>

                <div class="right-side">
                    <div class="section description">
                        <h2>Description</h2>
                        <p id="item-description">
                            <%= item.description %>
                        </p>
                    </div>

                    <div class="section additional-details">
                        <button id="sendEmailButton" 
                            data-user-email="<%= item.user.email %>" 
                            data-email-body="<%= req.protocol %>://<%= req.get('host') %>/items/<%= item._id %> 

Note: The above link directs you to the item you are referring to. Please avoid editing or deleting the link.

">

                            
                            Contact Poster
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <script src="/scripts/item.js"></script>
</body>

</html>